:root {
    --border: 1px solid #aaa;
}

body {
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    margin: 0;
}

.media-warning {
    display: none;
}

input[type="color" i] {
    border: none;
}

.canvas-container {
    max-width: 768px;
    margin: auto;
}

canvas {
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
}

canvas.pencil {
    cursor: url('pencil.png'), auto;
}

canvas.eraser {
    cursor: url('eraser.png'), auto;
}

.menu {
    width: 100%;
    min-height: 50px;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.menu-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 8px 5px 8px;
    text-align: center;
    justify-content: space-between;
}

.menu-option .mdi {
    font-size: 48px;
    cursor: pointer;
}

.menu-option-button-icons .mdi {
    padding: 2px;
    cursor: pointer;
}

.selectable {
    cursor: pointer;
}

.selectable:hover,
.active {
    background-color: #ccc;
    cursor: pointer;
}

.menu-option-input {
    padding: 0;
    height: 48px;
    width: 48px;
}

.menu-option-label {
    font-size: 10px;
    margin-top: 2px;
}

/* Screen size: iPad and bigger */
@media only screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .canvas-container {
        display: none;
    }

    .media-warning {
        text-align: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        margin: auto;
    }

    .media-warning-icons .mdi {
        font-size: 48px;
    }

    .media-warning-icons .mdi.red {
        color: red;
    }

    .media-warning-icons .mdi.yellow {
        color: yellow;
    }

    .media-warning-icons .mdi.green {
        color: green;
    }

    .media-warning-icons .mdi.blue {
        color: blue;
    }
}
